<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.autandroidapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".athlete_button"></activity>
        <activity
            android:name=".autcontact_button"
            android:label="@string/AUTCONTACT"
            android:parentActivityName=".help_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.help_button" />
        </activity>
        <activity
            android:name=".contactdev_button"
            android:label="@string/CONTACTDEV"
            android:parentActivityName=".help_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.help_button" />
        </activity>
        <activity
            android:name=".studiesupport_button"
            android:label="@string/STUDIESSUPPORT"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".studenthub_button"
            android:label="@string/STUDENTHUB"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".religious_button"
            android:label="@string/RELIGIOUS"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".pacific_button"
            android:label="@string/PACIFIC"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".maoristud_button"
            android:label="@string/MAORISTUD"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".rainbow_button"
            android:label="@string/RAINBOWSTUD"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".international_button"
            android:label="@string/INTERNATIONAL"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".career_button"
            android:label="@string/CAREERS"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".disability_button"
            android:label="@string/DISABILITY"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".counselling_button"
            android:label="@string/COUNSELLING"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".chinese_button"
            android:label="@string/CHINESE"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".childcare_button"
            android:label="@string/CHILDCARE"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".home_button"
            android:label="@string/home"
            android:parentActivityName=".MainActivity"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.MainActivity" />
        </activity>
        <activity
            android:name=".faq_button"
            android:label="@string/FAQ"
            android:parentActivityName=".help_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.help_button" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.aut.ac.nz"
                    android:pathPattern="/https://www.aut.ac.nz/student-life/graduation" />
            </intent-filter>
        </activity>
        <activity
            android:name=".medical_button"
            android:label="@string/MEDICALCENTRE"
            android:parentActivityName=".services_button"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.services_button" />
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/CALENDERTITLE"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MapActivity"
            android:label="@string/MAPTITLE"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".services_button"
            android:label="@string/AUTSERVICES"
            android:parentActivityName=".MainActivity"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.MainActivity" />
        </activity>
        <activity
            android:name=".help_button"
            android:label="@string/HELPTITLE"
            android:parentActivityName=".MainActivity"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.MainActivity" />
        </activity>
        <activity
            android:name=".ChatbotActivity"
            android:label="@string/CHATBOTTITLE"
            android:parentActivityName=".MainActivity"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.MainActivity" />
        </activity>
        <activity
            android:name=".CoursesActivity"
            android:label="@string/COURSESTITLE"
            android:parentActivityName=".MainActivity"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.MainActivity" />
        </activity>
        <activity
            android:name=".CoursePapersActivity"
            android:label="@string/COURSEPAPERS"
            android:parentActivityName=".CoursesActivity"
            tools:ignore="DuplicateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.autandroidapp.CoursesActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>